

// HEADER
.uiw-input-number__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: $space-xs;
    @include uiw-font('font-medium', 'regular');
}

.uiw-input-number__header__label {
    .uiw-input-number--error & {
        color: $color-accent-dark-red;
    }
}

.uiw-input-number__header__optional-label {
    color: $color-dark-gray;
}

// FIELD CONTAINER
.uiw-input-number__field-container {
    align-items: center;
    display: flex;
    padding: $space-xs 0;
}

// BUTTONS
.uiw-input-number__field-container__button {
    $size: 32px;

    align-items: center;
    background: transparent;
    border: 1px solid $color-deep-blue;
 
    box-shadow: 0 0 0 2px transparent;
    color: $color-deep-blue;
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    height: $size;
    justify-content: center;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color $time-normal $ease-in-out,
        box-shadow $time-normal $ease-in-out;
    width: $size;

    &:focus {
        box-shadow: 0 0 0 2px $color-haas-blue;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: $color-cloud-blue;
        }
    }

    &:disabled {
        background-color: transparent;
        box-shadow: 0 0 0 4px transparent;
        border-color: $color-medium-gray;
        color: $color-medium-gray;
        pointer-events: none;
    }
}

// INPUT
.uiw-input-number__field-container__input {
    background-color: transparent;
    border: 0;
    flex: 0 1 auto;
    font-family: inherit;
    min-width: 0;
    padding: 0 $space-m;
    outline: 0;
    text-align: center;
    -webkit-appearance: none;
    width: var(--uiwInputNumberInputWidth);
    @include uiw-font('font-xlarge', 'medium');

    &::-ms-clear {
        display: none;
    }
    // to remove the arrows that is causing the non-centralized input number issue
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;

    &::placeholder {
        color: $color-dark-gray;
    }

    &:disabled {
        color: $color-nordea-gray;
        pointer-events: none;
    }
}

// FOOTER
.uiw-input-number__footer {
    display: flex;
    flex-flow: column;
    @include uiw-font('font-medium', 'regular');
}

.uiw-input-number__footer__hint {
    margin-top: $space-xs;
    color: $color-dark-gray;
}

.uiw-input-number__footer__error {
    align-items: center;
    color: $color-accent-dark-red;
    display: flex;
    margin-top: $space-xs;
}

.uiw-input-number__footer__error__icon {
    margin-right: $space-s;
}

@mixin stylesForDarkMode {
    .uiw-input-number__header__label {
        color: $color-white;
    }
    .uiw-input-number--error .uiw-input-number__header__label {
        color: $color-accent-red;
    }
    .uiw-input-number__header__optional-label {
        color: $color-medium-gray;
    }
    .uiw-input-number__field-container__button {
        color: $color-medium-blue;
        border-color: $color-medium-blue;
        &:focus {
            box-shadow: 0 0 0 2px $color-cloud-blue;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: $color-eclipse-gray;
            }
        }

        &:disabled {
            background-color: transparent;
            border-color: $color-dark-gray;
            box-shadow: 0 0 0 4px transparent;
            color: $color-dark-gray;
        }
    }
    .uiw-input-number__field-container__input {
        color: $color-white;
        &:disabled {
            color: $color-dark-gray;
        }
    }
    .uiw-input-number__footer__error {
        color: $color-accent-red;
    }
    .uiw-input-number__footer__hint {
        color: $color-medium-gray;
    }
}

@media (prefers-color-scheme: dark) {
    .uiw-enable-dark-mode {
        @include stylesForDarkMode();
    }
}
.uiw-enforce-dark-mode {
    @include stylesForDarkMode();
}

/**/